<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css" />
    <title>Book Store</title>
</head>

<body>
    <header>
        <nav class="head">
            <div class="brand">BookStore</div>
            <ul class="nav">
                <li class="item"><a href="/">books</a></li>
                <li class="item"><a href="/admin/contact">contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1 class="title">Book Store</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet nisi ac lectus bibendum
            volutpat. Nunc id cursus nisi. Ut pulvinar arcu nec libero interdum, nec pharetra massa auctor. Phasellus
            tincidunt erat at orci lobortis, et condimentum erat tempus. Donec sed lacus non enim varius malesuada sit
            amet in nunc. Vivamus consequat quam ac turpis iaculis, quis scelerisque lacus dictum. Quisque eleifend
            vestibulum tortor, nec pretium ipsum condimentum nec. Suspendisse ultrices pellentesque mi id accumsan. In
            augue massa, ultrices vel nisi et, molestie dignissim dolor. Etiam eget interdum urna. Aliquam vel quam nec
            erat porttitor efficitur sed ac magna. Suspendisse feugiat dui luctus, posuere sem vel, blandit nunc. Cras
            vestibulum accumsan porttitor. Nulla aliquet imperdiet aliquet. Maecenas lobortis nunc a mauris tempor
            aliquam.</p>
        <p>Fusce sit amet neque eget lorem malesuada lacinia. Aliquam erat volutpat. Sed a congue dolor. Donec interdum
            volutpat tristique. Aliquam non lacus quis enim tempus interdum a in nulla. Suspendisse rhoncus magna quis
            nunc mattis scelerisque. Sed suscipit quam mattis nisi aliquet tristique. Pellentesque eu ex leo. In quam
            mauris, fringilla et lectus dictum, elementum sollicitudin massa. Cras dignissim eu tellus ac posuere. Cras
            in pharetra magna. Vestibulum ultricies, quam id dapibus porta, nunc est volutpat nisl, id porta sapien sem
            non orci. In vitae mauris nibh. Pellentesque placerat sem eu nibh finibus, a condimentum libero rhoncus.</p>
    </main>
</body>

</html>