@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Kdam+Thmor+Pro|Noto+Sans|Open+Sans|Sevillana|Ubuntu|Lobster");
@import url("../font/stylesheet.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "manuscribe_freeita0";
}
body{
    background-color: rgb(41, 41, 41);
}
/* header{
    background-image: linear-gradient(45deg,red,blue);
} */

.head {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-shadow: 0px 1px 1px rgb(198, 198, 198);
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav>li {
    margin-left: 0.5em;
    align-self: center;
}

.brand {
    font-family: "Lobster";
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    
    background-image: linear-gradient(45deg, orange,dodgerblue);
    
}

main {
    padding: 2em;
    color: orange;
}
hr{
    background-color: orange;
    height: 1px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: orange;
}
a:active{
    color: orange;
}

main>h1 {
    text-align: center;
    margin-bottom: 1em;
    font-family: 'ragnorthbold';
    font-size: 50px;
}

main>p {
    margin: 1em 5em 0em 5em
}

.form{
    width: 60%;
    margin: auto;
    background-image: linear-gradient(-45deg,orange 50%,rgb(255, 207, 117),rgb(41, 41, 41) 80%);
    padding: 2em;
    margin-top: 4em;
    border-radius: 8px;
    
}
input{
    padding: 1em;
    border: none;
    border-radius: 8px;
    outline: none;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}
.input{
    outline: none;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    width: 90%;
}
label{
    /* margin: 2em 1em 1em 0em; */
    color: white;
}
.btn{
    width: auto;
    border-radius: 8px;
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 1em;
    border: 1px solid white;
}
.btnclass{
    margin-top: 1em;
}